---
import MainLayout from "@/layouts/MainLayout.astro";
import ArticleLayout from "@/layouts/ArticleLayout.astro";
import Tags from "@/components/Tags.astro";
import Button from "@/components/Button.astro";
import { formatDate } from "@/utils";
import { getEntry } from "astro:content";

const { slug } = Astro.params;
// slug === undefined
if (!slug) {
  throw new Error("Slug is required");
}

const entry = await getEntry("blog", slug);

// entry === undefined
if (!entry) {
  return Astro.redirect("/404");
}

const { Content } = await entry.render();
---

<MainLayout title={entry.data.title}>
  <Button text="Regresar a los artículos" route="/articles" />
  <article class="max-w-3xl mx-auto">
    <h1 class="text-4xl font-bold mb-2">{entry.data.title}</h1>
    <h2 class="text-lg mb-2">Written by {entry.data.author} on {formatDate(entry.data.pubDate)}</h2>
    <div class="flex flex-wrap gap-2 mb-6">
      <Tags tags={entry.data.tags} />
    </div>
    <img
      src={`/images/${entry.data.image}.avif`}
      srcset={`
    /images/${entry.data.image}.avif 326w,  
    /images/${entry.data.image}.avif 576w,
    /images/${entry.data.image}.avif 704w,
    /images/${entry.data.image}.avif 768w
    `}
      sizes="
    (max-width: 390px) 326w, 
    (max-width: 640px) 576px,
    (max-width: 768px) 704px,
    (max-width: 1024px) 768px,
    768px
    "
      alt="imagen del articulo"
      class="w-full h-auto rounded-xl mb-6"
      loading="eager"
      decoding="async"
      width="768"
      height="432"
    />

    <ArticleLayout>
      <Content />
    </ArticleLayout>
  </article>
  <Button text="Regresar a los artículos" route="/articles" />
</MainLayout>

<!-- <style is:global>
  html {
    scroll-behavior: smooth;
  }
  p {
    margin: 20px 0;
  }
  h2 {
    margin: 20px 0;
    font-size: 1.8rem;
  }
  pre {
    padding: 1rem;
    border-radius: 0.5rem;
  }
</style> -->
