---
import MainLayout from "@/layouts/MainLayout.astro";
import ArticleLayout from "@/layouts/ArticleLayout.astro";
import Tags from "@/components/Tags.astro";
import ScrollToTopButton from "@/components/ScrollToTopButton.astro";
import Button from "@/components/Button.astro";
import { formatDate } from "@/utils";
import { getEntry } from "astro:content";

const { slug } = Astro.params;
// slug === undefined
if (!slug) {
  throw new Error("Slug is required");
}

const entry = await getEntry("blog", slug);

// entry === undefined
if (!entry) {
  return Astro.redirect("/404");
}

const { Content } = await entry.render();
---

<MainLayout title={entry.data.title}>
  <Button text="Regresar a los artículos" route="/articles" />
  <article class="max-w-3xl mx-auto">
    <h1 class="max-[450px]:text-3xl text-4xl font-bold mb-2 text-pretty">
      {entry.data.title}
    </h1>
    <h2 class="text-lg mb-2">
      Escrito Por {entry.data.author} el {formatDate(entry.data.pubDate)}
    </h2>
    <div class="flex flex-wrap gap-2 mb-6">
      <Tags tags={entry.data.tags} />
    </div>
    <picture>
      <source
        srcset={`/images/avif/${entry.data.image}.avif`}
        type="image/avif"
        sizes="
      (max-width: 390px) 326w, 
      (max-width: 640px) 576px,
      (max-width: 768px) 704px,
      (max-width: 1024px) 768px,
      768px
      "
      />
      <source
        srcset={`/images/webp/${entry.data.image}.webp`}
        type="image/webp"
        sizes="
      (max-width: 390px) 326w, 
      (max-width: 640px) 576px,
      (max-width: 768px) 704px,
      (max-width: 1024px) 768px,
      768px
      "
      />
      <img
        src={`/images/webp/${entry.data.image}.webp`}
        alt="imagen del articulo"
        class="size-full object-cover object-center rounded-xl mb-6"
        loading="lazy"
        decoding="async"
        width="768"
        height="432"
      />
    </picture>

    <ArticleLayout>
      <Content />
    </ArticleLayout>
    <ScrollToTopButton />
  </article>
</MainLayout>
