---
import MainLayout from "@/layouts/MainLayout.astro";
import Tags from "@/components/Tags.astro";
import Button from "@/components/Button.astro";
import { formatDate } from "@/utils";
import { getEntry } from "astro:content";

const { slug } = Astro.params;
// slug === undefined
if (!slug) {
  throw new Error("Slug is required");
}

const entry = await getEntry("blog", slug);

// entry === undefined
if (!entry) {
  return Astro.redirect("/404");
}

const { Content } = await entry.render();
---

<MainLayout title={entry.data.title}>
  <Button text="Regresar a los artículos" route="/articles" />
  <article class="max-w-3xl mx-auto">
    <h1 class="text-4xl font-bold mb-2">{entry.data.title}</h1>
    <h3 class="text-lg mb-2">Written by {entry.data.author} on {formatDate(entry.data.pubDate)}</h3>
    <div class="flex flex-wrap gap-2 mb-6">
      <Tags tags={entry.data.tags} />
    </div>
    <img src={entry.data.image} alt="Article Image" class="w-full h-auto rounded-xl mb-6" />
    <Content />
  </article>
</MainLayout>

<style is:global>
  p {
    margin: 20px 0;
  }
  h2 {
    margin: 20px 0;
    font-size: 1.8rem;
  }
</style>
