---
import { formatDate } from "@/utils/index";
import Tags from "./Tags.astro";
import type { CollectionEntry } from "astro:content";

const { article } = Astro.props;

interface Props {
  article: CollectionEntry<"blog">;
}
---

<div class="max-w-80 mx-auto mt-10">
  <div class="h-full bg-white rounded-lg overflow-hidden shadow-lg">
    <a href={`/articles/${article.slug}`}>
      <picture>
        <source srcset={`/images/avif/${article.data.image}.avif`} type="image/avif" />
        <source srcset={`/images/webp/${article.data.image}.webp`} type="image/webp" />
        <img
          src={`/images/webp${article.data.image}.webp`}
          alt="imagen del artículo"
          class="w-full h-48 object-cover hover:opacity-75 transition duration-300
        ease-in-out"
          decoding="async"
          loading="lazy"
          width="340"
          height="192"
        />
      </picture>
    </a>
    <div class="flex flex-col justify-between w-full min-h-44 p-6">
      <div>
        <h2 class="text-xl w-full text-pretty font-semibold mb-2">
          <a href={`/articles/${article.slug}`}>{article.data.title}</a>
        </h2>

        <p class="text-gray-600 text-sm mb-4">{formatDate(article.data.pubDate)}</p>
      </div>

      <Tags tags={article.data.tags} />
    </div>
  </div>
</div>
